.itemCart {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* background-color: gray; */
  background-color: rgba(10, 10, 10, 0.651);
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.726);
  margin: 2rem 0;
  max-height: 12rem;
  padding: 0 1rem;
  border-radius: 5px;
}
.itemCart__h2 {
  margin: 0;
}
.itemCart__igmContainer {
  width: 30%;
  display: flex;
  background-color: white;
  justify-content: center;
  /* border-radius: 150px; */
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  /* justify-content: center; */
}

.itemCart__bodyContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.itemCart__bodyContainer p {
  margin: 0;
}

.buttonDeleteItem {
  color: white;
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .itemCart {
    max-height: 20rem;
    justify-content: space-between;
  }
  .itemCart__bodyContainer {
    width: 80%;
  }
}
